<div class="main">
    <div id="footer">
        <div id="part1">

            <h2>Become a Seller</h2>
            <h2>Policies</h2>
            <h2>Term & Conditions</h2>
            <h2>Help Centre</h2>
            <h2>News</h2>
            <h2><i class="ri-facebook-circle-fill"></i>Facebook</h2>
            <h2><i class="ri-twitter-fill"></i>Twitter</h2>
            <h2><i class="ri-youtube-fill"></i>Youtube</h2>
            <h2>FAQ</h2>

        </div>
        <div id="part2">
            <h2><i class="ri-copyright-line"></i> 2024 The town Store Pvt.Ltd</h2>

        </div>
    </div>

</div>
