<div class="main" >
    <div id="add-product">

        <div id="prod-info">

            <form #product_info="ngForm" (ngSubmit)="addProduct(product_info.value)">
                <h1>Add Products</h1>
                <h2  > {{added_prod_Message}} </h2>
                <input type="text" ngModel name="prod_name" placeholder="Enter Product Name">
                <input type="text" ngModel name="prod_price" placeholder="Enter Product Price">
                <input type="text" ngModel name="prod_color" placeholder="Enter Product Color">
                <input type="text" ngModel name="prod_category" placeholder="Enter Product Category">
                <textarea name="prod_desc" ngModel placeholder="Enter Product Description" id="" cols="30"
                    rows="5"></textarea>
                <input type="text" ngModel name="prod_url" placeholder="Enter Product URL">
                <button>Submit</button>
            </form>
        </div>
    </div>
</div>