<div class="seller-auth">
    <div id="seller-signup" *ngIf="!ShowLogin">
        <h1>Seller Signup</h1>
        
        <div id="seller-signup-input">

          
            <form #sellerFormdata="ngForm" (ngSubmit)="SellerSignUp(sellerFormdata.value)">
                <div class="elem">
                    <input type="text" name="seller_name" placeholder="Enter Name" ngModel required #name="ngModel">
                    <p><span *ngIf="name.invalid && name.touched" >Please Enter a valid name </span></p>
                </div>
                <div class="elem">
                    
                    <input type="text" name="seller_username" placeholder="Enter username" ngModel required #username="ngModel">
                    <p><span *ngIf="username.invalid && username.touched" >Please Enter a valid username </span></p>
                </div>
                <div class="elem">
                    <input type="email" name="seller_email" placeholder="Enter email" ngModel required #email="ngModel" email>
                    <p><span *ngIf="email.invalid && email.touched" >Please Enter a valid Email </span></p>
                    
                </div>
                <div class="elem"> 
                    <input type="password" name="seller_password" placeholder="Enter password" ngModel required #password="ngModel">
                    <p><span *ngIf="password.invalid && password.touched" >Please Enter a valid password </span></p>
                </div>
                <div class="elem">
                    <div id="btn">
                        <button [disabled]="sellerFormdata.invalid">SignUp</button>
                    </div>
                </div>
                <div class="elem">
                    <div id="txt" (click)="openLogin()">
                        <h3><a>Already have an Account.?</a></h3>
                        <h3><a>Click to Login</a></h3>
                    </div>
                </div>


            </form>

        </div>
    </div>
    <div id="seller-signup" *ngIf="ShowLogin">
        <h1>Seller Login</h1>
        
        <div id="seller-signup-input">

          
            <form #sellerFormdata="ngForm" (ngSubmit)="SellerLogin(sellerFormdata.value)">
                
                <div class="elem">
                    <h2> {{authError}} </h2>
                </div>
                <div class="elem">
                    <input type="email" name="seller_email" placeholder="Enter email" ngModel required #email="ngModel" >
                    <p><span *ngIf="email.invalid && email.touched" >Please Enter a valid Email </span></p>

                </div>
                <div class="elem"> 
                    <input type="password" name="seller_password" placeholder="Enter password" ngModel required #password="ngModel">
                    <p><span *ngIf="password.invalid && password.touched" >Please Enter a valid Password </span></p>
                </div>
                <div class="elem">
                    <div id="btn">
                        <button [disabled]="sellerFormdata.invalid">Login</button>
                    </div>
                </div>
                <div class="elem">
                    <div id="txt" (click)="openSignup()">
                        <h3><a>Don't have an Account.?</a></h3>
                        <h3><a>Click to Signup</a></h3>
                    </div>
                </div>


            </form>

        </div>
    </div>

</div>